In [5]:
import pandas as pd
import zipfile
import os
from sklearn.preprocessing import LabelEncoder, StandardScaler

with zipfile.ZipFile("archive.zip", "r") as zip_ref:
    zip_ref.extractall()

files = os.listdir()
csv_file = [f for f in files if f.endswith(".csv")][0]

df = pd.read_csv(csv_file)

categorical_cols = df.select_dtypes(include=["object"]).columns
numerical_cols = df.select_dtypes(include=["int64", "float64"]).columns

le = LabelEncoder()
df["income"] = le.fit_transform(df["income"])

df = pd.get_dummies(df, columns=[c for c in categorical_cols if c != "income"])

scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

df.to_csv("processed_adult_income.csv", index=False)

df.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income,workclass_?,workclass_Federal-gov,workclass_Local-gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087,0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930,0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087,1,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087,1,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104,0,True,False,False,...,False,False,False,False,False,False,False,True,False,False